 body {
background-color: #171717;
margin: 0;
padding: 0;
}

.h-100 {
  text-decoration: none;
  color: #171717;
}

.h-100:hover {
  transition: all 200ms ease-in-out;
  opacity: 0.8;
}




.hero {
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: #171717;
text-align: center;
}

.hero h1 {
font-size: 5em;
margin-top: 0;
margin-bottom: 0.2em;
color: #525252;
text-align: center;
}

.hero ul {
  list-style: none;
}

 .hero li {
  display: inline-block;
    padding: 1em;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    color: #2a2929;
}


iframe {
  overscroll-behavior: contain;
}

.playlist {
  margin: 50px;
  padding: 30px;
}


a {
  text-decoration: none;
}



